body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  text-align:center;
  margin:0;
  padding:20px;
}

.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 100;
  }

  50% {
    font-variation-settings: 'wght' 700;
  }

  100% {
    font-variation-settings: 'wght' 100;
  }
}

.container {
  max-width:450;
  margin: auto;
  margin-top: 8px;
  padding: 16px;
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}


.logo {
  width: 120px;
  margin-bottom: 10px;
}

h1 {
  color: #e67e22;
  font-size: 24px;
  margin-left: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  /* Alinha verticalmente */
  gap: 8px;
  /* Espaço entre ícone e texto */
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-item {
  background: white;
  border: none;
  padding: 22px;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.menu-item i {
  font-size: 20px;
  color: #333;
}

.menu-item.active {
  background: #ddd;
}
/* Modo Escuro */
@media (prefers-color-scheme: dark) {

  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .container {
    background: #1e1e1e;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.1);
  }
  
  h1 {
    /* Pode ajustar para manter o contraste ou optar por um tom mais claro */
    color: #ffa726;
  }
  
  .menu-item {
    background: #2c2c2c;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
  }
  
  .menu-item.active {
    background: #3a3a3a;
  }
  
  .menu-item i {
    color: #ccc;
  }
}